.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/coverage/
sonar-project.properties
*/test/unit/coverage/*
/target/
stats.json
package-lock.json
pom-resources.xml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

#sonar
test/unit/coverage/*
test/e2e/reports/*
.scannerwork/*
